/* style ARTICLE text
================================================================================*/
article {
  @media (max-width: 767px){
    padding-left: 20px;
    padding-right: 20px;
  }
  h1 {
    font-family: @font-FS-bold;
    font-size: 30px;
    line-height: 1.2;
    color: @color-black;
    margin-bottom: 30px;
    @media (max-width: 991px) {
      font-size: 24px;
    }
  }
  p {
    font-size: 20px;
    @media (max-width: 991px) {
      font-size: 18px;
    }
    @media (max-width: 767px){
      font-size: 16px;
      margin-bottom: 25px;
      font-family: @font-FS-reg;
    }
  }
}
