/* style ARTICLE text
================================================================================*/
article {
  @media (max-width: 767px){
    padding-left: 20px;
    padding-right: 20px;
  }
  h1 {
    font-family: @font-FS-bold;
    font-size: 30px;
    line-height: 1.2;
    color: @color-black;
    margin-bottom: 30px;
    @media (max-width: 991px) {
      font-size: 24px;
    }
  }

  h2 {
    font-family: @font-FS-bold;
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
    @media (max-width: 991px) {
      font-size: 18px;
    }
    @media (max-width: 767px){
      font-size: 16px;
      margin-bottom: 25px;
      font-family: @font-FS-reg;
    }
  }
  ul {
    padding-left: 10px;
    margin-bottom: 30px;
    li {
      font-family: @font-FS-light;
      font-size: 18px;
      margin-bottom: 5px;
      @media (max-width: 767px){
        font-size: 16px;
        font-family: @font-FS-reg;
      }
      &:before {
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background: @color-orange;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }
}
