/* header */

.header {
  width: 100%;
  height: 214px;
  position: absolute;
  z-index: 10;
  padding-top: 20px;
  background: -moz-linear-gradient(top, rgba(255,250,232,1) 54%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,250,232,1)), color-stop(100%,rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, rgba(255,250,232,1) 54%,rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, rgba(255,250,232,1) 54%,rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, rgba(255,250,232,1) 54%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,250,232,1) 54%,rgba(255,255,255,0) 100%);
  @media (max-width: 767px) {
    height: 85px;
    padding-top: 10px;
    background: @color-yellow;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
  }

  &_page {
    position: static;
    // height: 150px;
    height: 120px;
    background: @color-yellow;
    @media (max-width: 991px) {
      height: 100px;
    }
    @media (max-width: 767px) {
      height: 85px;
      padding-top: 10px;
    }
  }
    .wrap {
      display: flex;
      justify-content: center;
      @media (max-width: 1199px) {
        justify-content: flex-start;
      }
    }
    .logo {
      position: absolute;
      left: 45px;
      @media (max-width: 1390px) {
        left: 30px;
      }
      @media (max-width: 1199px) {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .header-right {
      position: absolute;
      right: 45px;
      @media (max-width: 1390px) {
        right: 30px;
      }
      @media (max-width: 991px) {
        right: 0px;
      }
    }
    .phone {
      @media (max-width: 1199px) {
        display: none;
      }
    }

  .m-menu {
    display: none;
    width: 32px;
    height: 24px;
    background: red;
    margin-top: 30px;
    margin-left: 30px;
    background: url(../images/m-menu.png) no-repeat;
    cursor: pointer;
    position: relative;
    z-index: 100;
    @media (max-width: 1199px) {
      display: block;
    }
    @media (max-width: 991px) {
      margin-left: 20px;
    }
    @media (max-width: 767px) {
      margin-top: 20px;
      margin-left: 15px;
    }
    &.active {
      background-position: 0 -27px;
    }
  }
  .menu {
    display: flex;
    @media (max-width: 1300px) and (min-width: 1200px) {
      margin-left: -70px;
    }
    @media (max-width: 1199px) {
      position: absolute;
      display: none;
    }
  }

}

/*.header_fixed {
  position: fixed !important;
  height: 120px;
  top: 0;
  left: 0;
  width: 100%;
  background: @color-yellow;
  .wrap {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .menu {
    position: absolute;
    display: none;
  }
  .m-menu {
    display: block;
  }
}*/


.header-right {
  .cf;
  .phone {
    float: left;
    margin-right: 117px;
    padding-top: 20px;
  }
  .cart {
    position: fixed;
    z-index: 80;
    right: 45px;
    -webkit-box-shadow: 0px 3px 25px 3px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 3px 25px 3px rgba(0,0,0,0.26);
    box-shadow: 0px 3px 25px 3px rgba(0,0,0,0.26);
    &:hover {
      background: #ff602b;
      -webkit-box-shadow: 0px 3px 25px 3px rgba(0,0,0,0.35);
      -moz-box-shadow: 0px 3px 25px 3px rgba(0,0,0,0.35);
      box-shadow: 0px 3px 25px 3px rgba(0,0,0,0.35);
    }
    @media (max-width: 1199px){
      right: 30px;
      // box-shadow: none;
      &:hover {
        // background: transparent;
        // box-shadow: none;
      }
    }
    @media (max-width: 991px){
      right: 20px;
    }
    @media (max-width: 767px) {
      right: 15px;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 48px;
      height: 45px;
      transform: translate(-50%, -50%);
      @media (max-width: 767px){
        width: 35px;
        height: 35px;
      }
    }
    .cart__img {
      @media (max-width: 1199px){
        // display: none;
      }
    }
    .cart__img_mob {
      display: none;
      @media(max-width: 1199px){
        // display: inline-block;
      }
    }
    .cart__size {
      padding: 5px 5px 2px;
      background: @color-white;
      border-radius: 10px;
      text-align: center;
      position: absolute;
      top: 55px;
      left: 50px;
      line-height: 12px;
      color: @color-black;
      overflow: hidden;
      @media (max-width: 767px){
        top: 35px;
        left: 30px;
      }
    }
  }
}

/* logo */
.logo {
  &__img {
    width: 213px;
    height: 97px;
    @media (max-width: 991px){
      width: 198px;
      height: 97px;
    }
    @media (max-width: 767px) {
      width: 135px;
      height: 62px;
    }
  }
}

/* top cart */
.cart {
	display: inline-block;
	vertical-align: middle;
	width: 92px;
	height: 92px;
	border-radius: 100%;
	background: @color-orange;
  @media (max-width: 1199px){
    // background: transparent;
  }
  @media (max-width: 767px){
    width: 60px;
    height: 60px;
  }
}
