/* header */

.header {
  width: 100%;
  height: 214px;
  position: absolute;
  z-index: 1;
  padding-top: 20px;
  background: -moz-linear-gradient(top, rgba(255,250,232,1) 54%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,250,232,1)), color-stop(100%,rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, rgba(255,250,232,1) 54%,rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, rgba(255,250,232,1) 54%,rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, rgba(255,250,232,1) 54%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,250,232,1) 54%,rgba(255,255,255,0) 100%);

  &_page {
    position: static;
    height: 150px;
    background: @color-yellow;
  }
    .wrap {
      display: flex;
      justify-content: center;
    }
    .logo {
      position: absolute;
      left: 45px;
    }
    .header-right {
      position: absolute;
      right: 45px;
    }
}

.header-right {
  .cf;
  .phone {
    float: left;
    margin-right: 25px;
    padding-top: 20px;
  }
  .cart {
    float: left;
    -webkit-box-shadow: 0px 3px 25px 3px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 3px 25px 3px rgba(0,0,0,0.26);
    box-shadow: 0px 3px 25px 3px rgba(0,0,0,0.26);
    position: relative;
    &:hover {
      background: #ff602b;
      -webkit-box-shadow: 0px 3px 25px 3px rgba(0,0,0,0.35);
      -moz-box-shadow: 0px 3px 25px 3px rgba(0,0,0,0.35);
      box-shadow: 0px 3px 25px 3px rgba(0,0,0,0.35);
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 48px;
      height: 45px;
      transform: translate(-50%, -50%);
    }
  }
}

/* logo */
.logo {
  &__img {
    width: 213px;
    height: 97px;
  }
}

/* top cart */
.cart {
	display: inline-block;
	vertical-align: middle;
	width: 92px;
	height: 92px;
	border-radius: 100%;
	background: @color-orange;
}









.header-right {}
