/* page CONTACTS
================================================================================*/
.contacts {
  // text-align: center;
  padding-bottom: 80px;
  @media (max-width: 991px) {
    padding-bottom: 0;
    text-align: center;
  }
}

.contacts-list {
  float: right;
  padding-top: 10px;
  width: 47.5%;
  @media (max-width: 1199px) {
    width: 50%;
  }
  @media (max-width: 991px) {
    width: 100%;
    padding-top: 0;
    margin-top: 0px;
    margin-bottom: 40px;
  }
  @media (max-width: 767px){
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.contacts {
  &__item {
    font-size: 20px;
    line-height: 1;
    padding-top: 60px;
    margin-bottom: 15px;
    color: @color-black;
    position: relative;
    @media (max-width: 991px) {
      margin-bottom: 60px;
    }
    span {
      position: relative;
      padding-left: 60px;
      @media (max-width: 991px) {
        padding-left: 0;
        position: static;
      }
    }
  }
}

.contacts-loc {

  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 30px;
    height: 43px;
    background: url(../images/svg/Place.svg) no-repeat;
    @media (max-width: 991px) {
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}
.contacts-tel {

  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 28px;
    height: 45px;
    background: url(../images/svg/Phone.svg) no-repeat;
    @media (max-width: 991px) {
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}
.contacts-email {

  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 43px;
    height: 34px;
    background: url(../images/svg/Mail.svg) no-repeat;
    @media (max-width: 991px) {
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}
