/* Page about (О нас)
================================================================================*/

/* index about*/
.index-about {
  width: 100%;
  background: url(../images/about-bg.png) no-repeat center;
  background-size: cover;

    .center-box {
      margin-left: auto;
      margin-right: auto;
      width: 77%;
      color: @color-white;
      text-align: center;
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 75px;
      @media (max-width: 991px) {
        width: 100%;
        font-size: 16px;
      }
      @media (max-width: 767px){
				display: none;
			}
    }
    .box-img-list {
      margin-bottom: 60px;
      @media (max-width: 767px){
        flex-wrap: wrap;
        margin-bottom: 0;
        .box {
          width: 230px;
          margin-bottom: 50px;
        }
      }
    }

    .btn-wrap {
      text-align: center;
    }
}

/* page about */
.about {
  .box-img-page {
    margin-bottom: 60px;
    @media (max-width: 767px){
      height: 120px;
      img {
        height: 120px;
        width: 93%;
      }
    }
  }
  .box-img-list {
    margin-bottom: 50px;
    @media (max-width: 767px){
      flex-wrap: wrap;
      margin-bottom: 0;
      .box {
        width: 230px;
        margin-bottom: 50px;
      }
    }
  }
  .box-img-list .box__title {
    color: @color-black;
  }
  .btn-wrap {
    margin-top: 60px;
    text-align: center;
  }
}
