/* page-delivery
================================================================================*/
.delivery {
  article {
    text-align: center;
  }
  .img-wrap {
    margin-bottom: 36px;
    img {
      margin: 15px;
      @media (max-width: 767px){
        margin: 14px;
      }
    }
  }
}
