/* page BLOG
================================================================================*/

/*index-blog*/
.index-blog {
  .btn-wrap {
    margin-top: 40px;
    text-align: center;
  }
}

/* page-blog */
.blog {
  .box-new-list .box {
    margin-bottom: 30px;
  }
  .btn-wrap {
    text-align: center;
  }
}

/* page BLOG - select
================================================================================*/
