/* page BLOG
================================================================================*/

/*index-blog*/
.index-blog {
  .btn-wrap {
    margin-top: 40px;
    text-align: center;
    @media (max-width: 767px){
      margin: 0;
    }
  }
  .box-new-list {
    @media (max-width: 1199px) {
      .box {
        width: 294px;
      }
    }
    @media (max-width: 991px) {
      .box {
        width: 345px;
        &:last-child {
          display: none;
          @media (max-width: 767px){
            display: block;
          }
        }
      }
    }
    @media (max-width: 767px){
      padding-left: 20px;
      padding-right: 20px;
      .box {
        width: 100%;
        margin-bottom: 25px;
      }
    }
  }
}

/* page-blog */
.blog {
  .box-new-list {
    @media (max-width: 767px){
      padding-left: 20px;
      padding-right: 20px;

    }
    .box {
      margin-bottom: 30px;
      @media (max-width: 1199px) {
        width: 294px;
      }
      @media (max-width: 991px) {
        width: 345px;
      }
      @media (max-width: 767px){
        width: 100%;
        margin-bottom: 25px;
      }
    }

  }
  .btn-wrap {
    text-align: center;
  }
}

/* page BLOG - select
================================================================================*/

.blog-sl {
  .box-new-list {
    @media (max-width: 991px) {
      .box {
        width: 345px;
        &:last-child {
          display: none;
          @media (max-width: 767px){
            display: block;
          }
        }
      }
    }
    @media (max-width: 767px) {
      .box {
        width: 100%;
        margin-bottom: 25px;
      }
    }
  }
}
.section-border-up.blog-sl {
  @media (max-width: 767px){
    margin-top: 40px;
    &:before {
      content: none;
    }
  }
}
