include ./tmp/_slider-top.jade
extends ./tmp/_template.jade
block title
	title О компании
block header
	header
		+header("header_page")
block content
	section.section-offset.about
		.container
			h2.line
				span.title.title_orange О нас
			.box-img-page
				img(src="/images/about.png", title="", alt="")
			ul.box-img-list
				li.box
					.box__img
						img.feature-1(src="/images/svg/Feature_1_o.svg", title="", alt="")
					.box__title Готовим с любовью.
					li.box
						.box__img
							img.feature-2(src="/images/svg/Feature_2_o.svg", title="", alt="")
						.box__title Делаем это вкусно, по домашним рецептам.
					li.box
						.box__img
							img.feature-3(src="/images/svg/Feature_3_o.svg", title="", alt="")
						.box__title Выращенные собственными руками.
			article.content_min
				p
					| Sed porttitor lectus nibh. Donec rutrum congue leo eget malesuada. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla quis lorem ut libero malesuada feugiat. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur aliquet quam id dui posuere blandit. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
				p
					| Sed porttitor lectus nibh. Donec rutrum congue leo eget malesuada. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla quis lorem ut libero malesuada feugiat. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur aliquet quam id dui posuere blandit. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. 
			.btn-wrap.line
				.btn-menu-wrap
					a.btn-menu(href="#")
						span Перейти в меню
block hidden
